body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: pink;
}

a:visited {
    color: white;
}

/*-----------------------      nav bar ----------- */
.nav {
    height: 5%;
    background-color: #2e2e4d;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0px;
    color: white;
}


.nav h1 {
    margin-left: 45%;
    margin-top: 0px;
    display: inline-block;
}

.loginLinks {
    display: inline-block;
    position: absolute;
    right: 0%;
    padding-top: 12px;
    width: 17%;
}

.navChangeApp {
    position: absolute;
    right: 6%;
}

#navRegister {
    margin-left: 10%;
}

.nav li {
    display: inline-block;
    margin-left: 11%;
}

/*------------------------------          start page  -----------------*/

.first h2 {
    margin-left: 45%;
}

.first p {
    width: 30%;
    margin-left: 35%;
}

/*--------------------------------        calendar page*/

.rdv h1 {
    margin-left: 43%;
}

.rdv a {
    color: black;
}

.calender h3 {
    margin-bottom: 0;
}

.calender table {
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
}

.calender h3 {
    margin-left: 25%;
    display: inline;
}

#back2day {
    margin-left: 5%;
    font-size: x-large;
    text-decoration: underline;
}

.table {
    border-collapse: collapse;
}

.table th {
    border: darkgray 2px solid;
    width: 10%;
}

.table td {
    text-align: center;
    border: black 1px solid;
    padding: 8px;
}

.today {
    background-color: darkslategray;
    color: white;
}

.calender a {
    text-decoration: none;
}

.rdvContainer {
    margin-top: 5%;
    margin-bottom: 8%;
}

.rdvContainer th {
    padding: 10px;
}

.rdvContainer table {
    width: 50%;
    margin-left: 25%;
}

/*--------- form -------*/

.formRdv {
    border: solid #c8c6aa 2px;
    margin: 3% 0 0 25%;
    width: 50%;
}

.formRdv h1 {
    margin-left: 31%;
}

.formRdv form {
    margin: 0 0 0 37%;
    width: 50%;
}

.formRdv form div {
    margin-top: 2%
}

.formRdv button {
    margin-left: 26%;
}

.formRdv input {
    margin-left: 5%;
}


